
*.xml
*.iml
config.php
public/uploads/

.idea/dataSources/4c890296-d6e1-4533-b101-77a4396d2bd4/storage_v2/_src_/database/d8ipr01p5aungq.54OSrw.meta
.idea/dataSources/4c890296-d6e1-4533-b101-77a4396d2bd4/storage_v2/_src_/database/d8ipr01p5aungq.54OSrw/schema/information_schema.FNRwLQ.meta
.idea/dataSources/4c890296-d6e1-4533-b101-77a4396d2bd4/storage_v2/_src_/database/d8ipr01p5aungq.54OSrw/schema/pg_catalog.0S1ZNQ.meta
.idea/dataSources/4c890296-d6e1-4533-b101-77a4396d2bd4/storage_v2/_src_/database/d8ipr01p5aungq.54OSrw/schema/public.abK9xQ.zip
.idea/dataSources/4c890296-d6e1-4533-b101-77a4396d2bd4/storage_v2/_src_/database/d8ipr01p5aungq.54OSrw/schema/public.abK9xQ.meta
