main {
    grid-template-columns: 100%;
}

.search-panel {
    background: rgba(196, 196, 196, 0.9);
    padding: 4% 0;
    margin: 0 0.5em;

    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, 20%);
    grid-row-gap: 5%;
    justify-content: space-evenly;
}

.search-panel input, .search-panel select, #button-search {
    background: #E8E8E8;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    border-radius: 1.5em;
    border-style: none;
    padding: 0 1em;
}

#button-search {
    background: #118924;
    color: white;
    grid-area: 4/2;
}

.advertisements {
    grid-area: 2/1;
    background: rgba(196, 196, 196, 0.5);
    
    display: flex;
    flex-direction: column;  
}

.advertisements section {
    display: grid;
    grid-template-columns: 95%;
    grid-gap: 1em;
    justify-content: space-around;
    padding-top: 1em;
}

#title-section {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.2em;
    background: #118924;
    color: #E8E8E8;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.25);
    letter-spacing: 0.05em;
}

@media only screen and (min-width: 768px) {
    main {
        grid-template-columns: 55% 40% 5%;
        grid-template-rows: 30% auto;
        grid-row-gap: 1.5em;
    }

    .search-panel {
        grid-area: 1/2;
        margin: 0;
    }

    .advertisements {
        grid-area: 2/1/3/4;
        display: flex;
        flex-direction: column;  
    }

    .advertisements section {
        grid-template-columns: repeat(3, 30%);
        grid-gap: 3em;
        padding: 1.5em 3em 1.5em 3em;
    }

    #title-section {
        font-size: 3em;
    }
}
