main {
    height: 90%;
    width: 100%;
    
    display: grid;
    grid-template-rows: 30% auto;
    grid-row-gap: 1em;
}

.search-panel {
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    border-radius: 1.5em;
}

.advertisement {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    border-radius: 1.5em;
    height: 30vh;
}

.advertisement img {
    width: 40%;
    height: 100%;
    border-radius: 0 1.5em 1.5em 0;
}

.advertisement .description {
    width: 60%;
    height: 100%;
    border-radius: 1.5em 0 0 1.5em;
    background: #C4C4C4;
    padding: 1em;
}

@media only screen and (min-width: 768px) {
    .advertisement {
        flex-direction: column;
    }
    .advertisement {
        height: 40vh;
    }

    .advertisement img, .advertisement .description {
        width: 100%;

    }
    
    .advertisement img {
        border-radius: 1.5em 1.5em 0 0;
        height: 40%;
    }

    .advertisement .description {
        border-radius: 0 0 1.5em 1.5em;
        height: 60%;
    }
}

