#form-page {
    height: 75%;
    width: 95%;
    
    display: grid;
    grid-template-columns: repeat(3, 20% 5%) 20%;
    grid-template-rows: 10% 90%;
}

.bookmark {
    border-radius: 0 1.5em 0 0;
    text-align: center;
    padding: 0.2em 1em;
    background: rgba(229, 229, 229, 0.9);
    font-size: 1em;
}

#form-add input, #form-add textarea, #form-add select {
    background: #E5E5E5;
}

#first-page {
    grid-area: 1/1/2/3;
    order: 4;
}

#second-page {
    grid-area: 1/2/2/5;
    order: 3;
}

#third-page {
    grid-area: 1/4/2/7;
    order: 2;
}

#fourth-page {
    grid-area: 1/6/2/10;
    order: 1;
}

.web {
    display: none;
}

.phone {
    line-height: 3em;
}

#form-add {
    grid-area: 2/1/3/10;
    background: rgba(196, 196, 196, 0.9);
    border-radius: 0 0 1.5em 1.5em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    padding: 5%;

    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
    align-items: stretch;
}

#form-add label {
    padding-left: 0.5em;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
    align-self: flex-end;
}

#form-add textarea {
    padding: 1em;
    line-height: 1.5em;
    font-size: 1.2em;
}

#form-add input, #form-add select {
    padding-left: 1em;
}

#form-add input, #form-add button, #form-add textarea, #form-add select {
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    border-radius: 1.5em;
    border-style: none;  
}

main button {
    grid-area: 9/1;
    background: #118924;
    color: #E8E8E8;
    margin: 0.5em 3em 0 3em;
}

@media only screen and (min-width: 768px) {
    #form-page {
        height: 70%;
        width: 65%;
    }
    
    #form-add {
        grid-template-columns: 1fr 2fr 1fr;
        padding: 2% 10%;
    }

    .bookmark {
        padding-top: 0.7em;
    }

    #form-page button {
        grid-area: 9/3;
        margin: 0;
    }
    
    #form-add label {   
        line-height: 3em;
    }
    
    .phone {
        display: none;
    }
    
    .web {
        display: block;
    }
}
