#login {
    background: rgba(196, 196, 196, 0.9);
    order: 2;
}

#registration {
    background: rgba(229, 229, 229, 0.9);
    order: 1;
}

#form-login {
    justify-content: center;
    gap: 1.5em
}

