#fourth-page {
    background: rgba(196, 196, 196, 0.9);
}

@media only screen and (min-width: 768px) {
    [for~="name"] {
        grid-area: 1/2;
    }

    #name {
        grid-area: 2/2;
    }

    [for~="email"] {
        grid-area: 3/2;
    }

    #email {
        grid-area: 4/2;
    }

    [for~="number-phone"] {
        grid-area: 5/2;
    }

    #number-phone {
        grid-area: 6/2;
    }
}