#first-page {
    background: rgba(196, 196, 196, 0.9);
}

@media only screen and (min-width: 768px) {
    [for~="type"] {
        grid-area: 1/2;
    }

    #type {
        grid-area: 2/2;
    }

    [for~="area"] {
        grid-area: 3/2;;
    }

    #area {
        grid-area: 4/2;
    }

    [for~="number-rooms"] {
        grid-area: 5/2;
    }

    #number-rooms {
        grid-area: 6/2;
    }

    [for~="price"] {
        grid-area: 7/2;
    }

    #price {
        grid-area: 8/2;
    }
}
