body {
    background: #E5E5E5;
}

.advertisement {
    margin: 0;
    padding: 0;
    width: 95%;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    border-radius: 1.5em;
    justify-content: stretch;
}

main section, main div {
    padding: 0.5em;
    line-height: 1.5em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}
 #first-image, #second-image {
     width: 100%;
 }

i {
    font-size: 1em;
}

#like, #save {
    height: 5%;
    padding-top: 1em;
    color: #E8E8E8;
    text-align: center;
    width: 50%;
}

#like {
    background: #118924;
    border-radius: 0 0 0 1.5em;
}

#save {
    background: #9A4545;
    border-radius: 0 0 1.5em 0;
}

@media only screen and (min-width: 768px) {

    .advertisement {
        height: 80%;
        width: 80%;
        justify-content: center;
        display: grid;
        align-self: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 45% 40% 15%;
        align-items: stretch;
        box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
        border-radius: 1.5em;
    }

    main section, main div {
        padding: 1em;
        line-height: 2em;
    }
    
    h3 {
        font-size: auto;
    }
    
    #basic-information,
    #first-image,
    #description,
    #location,
    #second-image,
    #contact-info,
    #other-information,
    #like, #save {
        height: 100%;
        width: 100%;
    }

    #basic-information {
        grid-area: 1/1;
        background: #E5E5E5;
        border-top-left-radius: 1.5em;
    }

    #first-image {
        grid-area: 1/2/2/4;
        border-radius: 0;
    }

    #description {
        grid-area: 1/4;
        border-top-right-radius: 1.5em;
    }

    #location {
        grid-area: 2/1/4;
        border-bottom-left-radius: 1.5em;
    }

    #second-image {
        grid-area: 2/2/4;
    }

    #contact-info {
        grid-area: 2/3;
    }

    #other-information {
        grid-area: 2/4;
        background: #E5E5E5;
    }

    #like, #save {
        padding-top: 1em;
    }

    i {
        font-size: 1.8em;
    }

    #like { 
        grid-area: 3/3;
        border-radius: 0;
    }

    #save {
        grid-area: 3/4;
        border-bottom-right-radius: 1.5em;
    } 
}
                    

