* {
    margin: 0;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
}

body {
    background-image: url(../img/image_background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.base-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
   
    align-content: stretch;
    justify-items: center;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: #A9A0A0;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
    text-align: center;
}

.logo > img {
    height: 100%;
}

main {
    grid-area: 2/1/3/2;
    align-self: center;
    justify-content: center;
}

img {
    object-fit: cover;
}

input:focus, button:focus {
    outline-style: none;
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 20%;
    }
}

